<!-- Promo Section -->
<div class="promo-section overflow-h"
  style="background-image: url('assets/img/1920x1080/06.jpg'); background-size: cover;">
  <div class="container">
    <div class="row banner">
      <div class="col-md-8">
        <h2 class="first-title" style="color: white;">DES PRODUITS CONÇUS POUR DURER À VIE</h2>
        <p style="color: white; font-size: 18px;">Sûrs de la qualité de ses menuiseries et du travail de ses équipes,
          Lumia ouvertures est le premier
          fabricant français à étendre la garantie de ses fenêtres PVC et ALU et de leur pose à vie.</p>
        <a routerLink="/fenetres" class="btn-theme btn-theme-sm text-uppercase">
          Découvrir</a>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/img/qualibat.png" alt="" width="100%">
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->
