<!-- Promo Section -->
<div class="promo-section overflow-h"
  style="background-image: url('assets/img/1920x1080/06.jpg'); background-size: cover;">
  <div class="container">
    <div class="row banner">
      <div class="col-md-8">
        <h2 class="first-title" style="color: white;">La garantie d'un professionnel qualifié</h2>
        <p style="color: white; font-size: 18px;">Délivré par l'organisme Qualibat, la qualification RGE (Reconnu garant
          de l'environnement) permet d'identifier un professionnel qualifié en matière de pose et de travaux de
          rénovation énergétique. Cette qualification vous invite à bénéficier d'un accompagnement et de nombreux
          avantages, dont l'éligibilité au crédit d'impôt.</p>
        <a routerLink="/fenetres" class="btn-theme btn-theme-sm text-uppercase">
          Découvrir nos produits</a>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/img/qualibat.png" alt="" width="100%">
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->
