<!-- Promo Section -->
<div class="promo-section overflow-h" style="background-image: url('assets/img/1920x1080/06.jpg'); background-size: cover;">
  <div class="container">
    <div class="clearfix">
      <div class="ver-center">
        <div class="ver-center-aligned">
          <div class="promo-section-col">
            <h2 style="color: white; font-size: 30px;">DES PRODUITS CONÇUS POUR DURER À VIE</h2>
            <p style="color: white; font-size: 18px;">Sûrs de la qualité de ses menuiseries et du travail de ses équipes, Lumia ouvertures est le premier
              fabricant français à étendre la garantie de ses fenêtres PVC et ALU et de leur pose à vie.</p>
            <a href="#" class="btn-theme btn-theme-sm text-uppercase">
              En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->
