<!--========== PARALLAX ==========-->
<div class="parallax-window" style="background: url(assets/img/fenetre/entete.jpg); background-size: cover;">
  <div class="parallax-content container">
    <h1 class="carousel-title">Baies coulissantes</h1>
    <h4 style="color: white;">NOS GAMMES ET OPTIONS POUR VOS BAIES COULISSANTES PVC, ALU ET BOIS
    </h4>
  </div>
</div>
<!--========== PARALLAX ==========-->

<!--========== PAGE LAYOUT ==========-->
<div class="content-lg container">
  <div class="row margin-b-40">
    <div class="col-sm-12">
      <h2 class="first-title">Voici ce que nous proposons</h2>
      <p>L'utilisation de solutions de construction avancées dans les baies coulissantes, c'est-à-dire un seuil plat qui
        assure le confort et la communication sans problème pour les personnes ayant des problèmes de mobilité et permet
        une utilisation confortable de la baie, garantissant une ouverture et une fermeture confortables même avec de
        grandes dimensions.
      </p>
      <p>
        D'autre part, la possibilité de créer de très grands espaces vitrés s'inscrit parfaitement dans les tendances
        architecturales actuelles et fait qu'il y a plus de lumière naturelle à l'intérieur.</p>
    </div>
  </div>
  <!--// end row -->

  <div class="row margin-b-50">
    <div class="col-sm-4 margin-b-30 text-center" *ngFor="let berrie of berries">
      <div class="margin-b-20">
        <div class="animated zoomIn">
          <img class="img-responsive" src="{{berrie.img}}" alt="">
        </div>
      </div>
      <h4 class="text-center">{{berrie.title}}</h4>
      <p>{{berrie.text}}</p>
    </div>
  </div>
  <!--// end row -->

  <div class="row margin-b-40">
    <div class="col-sm-8">
      <h2 class="first-title">Un large panel de couleurs disponibles</h2>
      <p>Toutes nos baies coulissantes sont disponibles dans plusieurs coloris, n'hésitez à préciser votre couleur favorite
        lors de la demande de devis ou par téléphone avec l'un de nos conseillers.</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/img/nuancier.png" width="100%" alt="" style="border-radius: 20px;">
    </div>
  </div>
  <!--// end row -->
</div>

<!-- Promo Section -->
<div class="promo-section overflow-h"
  style="background-image: url('assets/img/1920x1080/06.jpg'); background-size: cover; min-height: 500px;">
  <div class="container">
    <div class="clearfix">
      <div class="ver-center">
        <div class="ver-center-aligned">
          <div class="promo-section-col">
            <h2 style="color: white; font-size: 40px; width: 100%;">Besoin d'inspiration ?</h2>
            <h6 style="color: white; font-size: 20px; width: 100%;">Vous avez un projet, une envie, une idée ?</h6>
            <p style="color: white; font-size: 20px;">Lumia ouvertures vous accompagne en vous offrant l’une des gammes
              les plus larges du marché. Design classique ou contemporain, Fenêtres, portes, volets ou portails, PVC,
              ALU ou Bois.
              Laissez-vous guider et trouvez la menuiserie qui répond à toutes vos envies.</p>
            <p style="color: white; font-size: 20px; margin-bottom: 40px;">Faites une demande de devis c'est gratuit et
              sans engagement.</p>
            <a (click)="showDevis = true" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">
              Demande de devis
              <i class="fas fa-arrow-right margin-l-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->

<!--========== END PAGE LAYOUT ==========-->
<app-devis [isVisible]="showDevis" (toggle)="showDevis = $event"></app-devis>
