<!--========== PARALLAX ==========-->
<div class="parallax-window" style="background: url(assets/img/porte/entete.jpg);">
  <div class="parallax-content container">
    <h1 class="carousel-title">Portes d'entrée
      <span style="font-size: 28px; display: block; color: white;font-weight: bold;"> dans toute l'Ile de France</span>
    </h1>
    <h4 style="color: white;">NOS GAMMES DE PORTES D’ENTRÉE ET PORTES DE GARAGE PVC, ALU ET BOIS
    </h4>
  </div>
</div>
<!--========== PARALLAX ==========-->

<!--========== PAGE LAYOUT ==========-->
<div class="content-lg container">
  <div class="row margin-b-40">
    <div class="col-sm-12">
      <h2 class="first-title">Voici ce que nous proposons</h2>
      <p>La première impression compte, donc lors de la conception des portes d’entrée LUMIA ouvertures, nous avons pris
        en compte
        toutes leurs fonctions utilitaires et esthétiques. Nous avons combiné les solutions technologiques les plus
        avancées avec une conception de la plus haute qualité et un souci du détail pour vous offrir une porte sûre,
        chaleureuse et durable mais aussi unique et belle.</p>
    </div>
  </div>
  <!--// end row -->

  <div class="row margin-b-50">
    <div class="col-sm-4 margin-b-30 text-center" *ngFor="let door of doors">
      <div class="margin-b-20">
        <div class="animated zoomIn">
          <img class="img-responsive" src="{{door.img}}" alt="">
        </div>
      </div>
      <h4 class="text-center">{{door.title}}</h4>
      <p>{{door.text}}</p>
      <button type="button" class="btn btn-primary btn-modal" data-toggle="modal" data-target="#exampleModalCenter"
        (click)="toggleModal(door)">
        En savoir plus
        <i class="fas fa-arrow-right" style="margin-left: 5px;"></i>
      </button>
    </div>
  </div>
  <!--// end row -->

  <div class="row margin-b-40">
    <div class="col-sm-8">
      <h2 class="first-title">Un large panel de couleurs disponibles</h2>
      <p class="margin-b-30">Toutes nos portes d'entrée sont disponibles dans plusieurs coloris, n'hésitez pas à
        préciser votre couleur
        favorite
        lors de la demande de devis ou par téléphone avec l'un de nos conseillers.</p>
      <a href="assets/catalogue/portes-dentrees.pdf" download
        class="btn-theme btn-theme-sm btn-white-brd text-uppercase">
        Téléchargez le catalogue </a>
    </div>
    <div class="col-sm-4">
      <img src="assets/img/nuancier.png" width="100%" alt="" style="border-radius: 20px;">
    </div>
  </div>
  <!--// end row -->
</div>

<!-- Promo Section -->
<div class="promo-section overflow-h"
  style="background-image: url('assets/img/porte/footer.jpg'); background-size: cover; min-height: 500px;">
  <div class="container">
    <div class="clearfix">
      <div class="ver-center">
        <div class="ver-center-aligned">
          <div class="promo-section-col">
            <h2 style="color: white; font-size: 40px; width: 100%;">Besoin d'inspiration ?</h2>
            <h6 style="color: white; font-size: 20px; width: 100%;">Vous avez un projet, une envie, une idée ?</h6>
            <p style="color: white; font-size: 20px;">Lumia ouvertures vous accompagne en vous offrant l’une des gammes
              les plus larges du marché. Design classique ou contemporain, Fenêtres, portes, volets ou portails, PVC,
              ALU ou Bois.
              Laissez-vous guider et trouvez la menuiserie qui répond à toutes vos envies.</p>
            <p style="color: white; font-size: 20px; margin-bottom: 40px;">Faites une demande de devis c'est gratuit et
              sans engagement.</p>
            <a (click)="showDevis = true" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">
              Demande de devis
              <i class="fas fa-arrow-right margin-l-5"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Promo Section -->

<!--========== END PAGE LAYOUT ==========-->
<app-devis [isVisible]="showDevis" (toggle)="showDevis = $event"></app-devis>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" *ngIf="product">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{product.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body" style="display: flex; flex-direction: row; align-items: center;">
        <div class="row">
          <div class="col-md-5 col-xs-12 text-center">
            <img src="{{product.img}}" alt="" width="200">
          </div>
          <div class="col-md-7 col-xs-12">
            <p>{{product.longText}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

