 <!-- Testimonials -->
 <div class="content-md container">
   <div class="row">
     <div class="col-sm-9">
       <h2>TEMOIGNAGES</h2>

       <!-- Swiper Testimonials -->
       <div class="swiper-slider swiper-testimonials">
         <!-- Swiper Wrapper -->
         <div class="swiper-wrapper">
           <div class="swiper-slide" *ngFor="let comment of comments">
             <blockquote class="blockquote">
               <div class="margin-b-20">
                 {{comment.message}}
               </div>
               <p><span class="fweight-700 color-link">{{comment.author}}</span></p>
               <p><span class="fweight-300 color-link"><i>{{comment.date}}</i></span></p>
             </blockquote>
           </div>
         </div>
         <!-- End Swiper Wrapper -->

         <!-- Pagination -->
         <div class="swiper-testimonials-pagination"></div>
       </div>
       <!-- End Swiper Testimonials -->
     </div>
   </div>
   <!--// end row -->
 </div>
 <!-- End Testimonials -->
