.container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background: #000000de;

  .row-container {
    width: 50%;

    .wizard-container {
      margin: 0 auto;

      .icon-close {
        font-size: 30px;
        color: white;
        cursor: pointer;
        position: absolute;
        top: -40px;
        right: 0;
      }

      .wizard-navigation {
        position: relative;

        ul {
          display: flex;
          justify-content: space-around;
          padding: 0;

          li {
            list-style-type: none;
            width: 100%;
            text-align: center;
            cursor: pointer;
            margin: 0 5px;

            a {
              display: flex;
              align-items: center;
              width: 100%;
              font-size: 10px;
              text-transform: uppercase;
              justify-content: center;
              padding: 15px 0;
              border-radius: 30px;
              background-color: #efefef;
            }

            a.active {
              width: 100%;
              text-align: center;
              padding: 12px 0;
              border-radius: 30px;
              font-size: 10px;
              text-transform: uppercase;
              -webkit-font-smoothing: subpixel-antialiased;
              background-color: #31d038;
              top: 0px;
              left: 18px;
              color: #FFFFFF;
              cursor: pointer;
              font-weight: 500;
              box-shadow: 0 16px 26px -10px rgb(49 208 56), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .row-container {
    width: 100% !important;
  }
}

.step-mobile {
  display: none;
  justify-content: space-around;
  flex: auto;
  padding: 0;
  margin: 5px 0 15px;

  span {
    cursor: pointer;
    margin: 0 5px;
    width: 100%;
    min-height: 13px;
    background: #efefef;
    border-radius: 10px;
  }

  span.active-step {
    background-color: #31d038;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;

    i {
      font-size: 12px;
      border-radius: 0 0 10px 10px;
      color: white;
    }
  }
}

@media screen and (max-width: 812px) and (max-height: 415px) {
  .wizard-navigation {
    display: none;
  }

  .step-mobile {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .row-container {
    width: 100% !important;

    .wizard-container {
      width: 100%;

      .wizard-navigation {
        display: none;
      }

      .step-mobile {
        display: flex !important;
      }
    }
  }

  .wizard-card {
    .wizard-header {
      padding: 0 !important;

      h5 {
        display: none;
      }
    }

    .wizard-title {
      font-size: 25px;
      padding-top: 0;
    }

    .info-text {
      margin-bottom: 15px !important;
      font-size: 15px;
    }

    .tab-content {
      padding: 0 !important;
    }

    .choice {
      margin-top: 0 !important;
    }
  }

  .icon-close {
    font-size: 25px;
    color: #2063b9;
    top: 7px;
    right: 5px;
  }

  .form-control {
    height: 30px !important;
  }

  textarea.form-control {
    height: 50px !important;
  }
}

.description,
.card-description {
  color: #999999;
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

@media screen and (max-width: 500px) {
  .wizard-card {
    padding: 20px !important;
    min-height: 100%;

    .choice {
      .icon {
        height: 75px !important;
        width: 75px !important;
        border: 3px solid #2063b9 !important;
        font-size: 14px !important;
        line-height: 12px;

        img {
          width: 35px;
          height: 35px;
        }
      }

      .project-type {
        height: 120px !important;
        width: 120px !important;
        border: 3px solid #2063b9 !important;
        font-size: 13px !important;
        line-height: 12px;
      }
    }
  }
}

.wizard-card {
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  .tab-content {
    //   min-height: 340px;
    padding: 10px 15px;
  }

  .wizard-header {
    text-align: center;
    padding: 0 0 20px;

    h5 {
      font-size: 16px;
      margin: 5px 0 0;
      color: #b1b1b1;
    }
  }

  .nav-pills>li {
    text-align: center;
    list-style: none;
  }

  .btn {
    text-transform: uppercase;
  }

  .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
  }

  .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    min-height: 130px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      height: 100px;
      width: 100px;
      font-weight: 500;
      border-radius: 50%;
      color: #2063b9;
      margin: 0 auto 10px;
      border: 4px solid #2063b9;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
    }

    h6 {
      margin: 0;
    }
  }

  .choice input[type="radio"],
  .choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
  }

  .description {
    color: #999999;
    font-size: 14px;
  }

  .wizard-title {
    margin: 0;
  }
}

.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.form-group {
  position: relative;
  padding-bottom: 7px;
  margin: 25px 0 0 0;

  textarea {
    resize: none;
  }

  .form-control {
    margin-bottom: 7px;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
  }

  .checkbox label,
  .radio label,
  label {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
  }

  label.control-label {
    font-size: 11px;
    line-height: 1.07143;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
  }
}

.form-group.label-static label.control-label,
.form-group.label-placeholder label.control-label,
.form-group.label-floating label.control-label {
  position: absolute;
  pointer-events: none;
  transition: 0.3s ease all;
}

@media screen and (max-width: 500px) {
  .form-group {
    margin: 15px 0 0 0;
  }
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
  top: -7px;
  font-size: 14px;
  line-height: 1.42857;
}

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
  top: -28px;
  left: 0;
  font-size: 11px;
  line-height: 1.07143;
}

.input-group .input-group-addon {
  border: 0;
  background: transparent;
  padding: 6px 15px 0px;
}

@media screen and (max-width: 500px) {
  .input-group .input-group-addon {
    padding: 5px 10px 5px 0px;

    .service-icon {
      font-size: 15px !important;
    }
  }
}
