<!--   Big container   -->
<div class="container" *ngIf="isVisible">
  <div class="row row-container">
    <!-- Wizard container -->
    <div class="wizard-container animated bounceIn">
      <i (click)="toggleDevis()" class="service-icon icon-close"></i>
      <div class="card wizard-card" id="wizard">
        <form [formGroup]="devisForm">
          <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
          <div class="wizard-header">
            <h3 class="wizard-title">
              Devis en ligne
            </h3>
            <h5>Créer votre demande de devis gratuitement et sans engagement.</h5>
          </div>
          <div class="wizard-navigation">
            <ul>
              <li>
                <a href="#category" data-toggle="tab" [class.active.animated.fadeIn]="showCategory">
                  Type de produit
                  <i class="service-icon icon-check margin-l-10" *ngIf="showCategory"
                    style="font-size: 20px; border-radius: 0 0 10px 10px;"></i>
                </a>
              </li>
              <li>
                <a href="#category" data-toggle="tab" [class.active]="showProductModel">
                  Produit
                  <i class="service-icon icon-check margin-l-10" *ngIf="showProductModel"
                    style="font-size: 20px; border-radius: 0 0 10px 10px;"></i>
                </a>
              </li>
              <li>
                <a href="#qty" data-toggle="tab" [class.active]="showQty">
                  Quantité
                  <i class="service-icon icon-check margin-l-10" *ngIf="showQty"
                    style="font-size: 20px; border-radius: 0 0 10px 10px;"></i>
                </a>
              </li>
              <li>
                <a href="#projectType" data-toggle="tab" [class.active]="showProjectType">
                  Type de projet
                  <i class="service-icon icon-check margin-l-10" *ngIf="showProjectType"
                    style="font-size: 20px; border-radius: 0 0 10px 10px;"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="step-mobile">
            <span [class.active-step]="showCategory">
              <i class="fas fa-check" *ngIf="showCategory"></i>
            </span>
            <span [class.active-step]="showProductModel">
              <i class="fas fa-check" *ngIf="showProductModel"></i>
            </span>
            <span [class.active-step]="showQty">
              <i class="fas fa-check" *ngIf="showQty"></i>
            </span>
            <span [class.active-step]="showProjectType">
              <i class="fas fa-check" *ngIf="showProjectType"></i>
            </span>
          </div>
          
          <div class="tab-content">
            <div class="tab-pane active" id="category">
              <h4 class="info-text">QUEL TYPE DE PRODUIT RECHERCHEZ-VOUS ?</h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#fenetres" data-toggle="tab" (click)="setCategory('Fenêtres et porte-fenêtres')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="category" value="Fenêtres et porte-fenêtres">
                      <div class="icon">
                        <img src="assets/img/icone/icone-fenetre.png" alt="" width="60">
                      </div>
                      <h6>Fenêtres et porte-fenêtre</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#baies" data-toggle="tab" (click)="setCategory('Baie coulissante')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="category" value="Baie coulissante">
                      <div class="icon">
                        <img src="assets/img/icone/icone-baie.png" alt="" width="60">
                      </div>
                      <h6>Baies coulissantes</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#volets" data-toggle="tab" (click)="setCategory('Volets')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="category" value="Volets">
                      <div class="icon">
                        <img src="assets/img/icone/icone-volet.png" alt="" width="75">
                      </div>
                      <h6>Volets</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#portes" data-toggle="tab" (click)="setCategory('Porte d\'entrée')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="category" value="Porte d'entrée">
                      <div class="icon">
                        <img src="assets/img/icone/icone-porte.png" alt="" width="60">
                      </div>
                      <h6>Porte d'entrée</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#portails" data-toggle="tab" (click)="setCategory('Portails et clôtures')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="category" value="Portails et clôtures">
                      <div class="icon">
                        <img src="assets/img/icone/icone-portail.png" alt="" width="75">
                      </div>
                      <h6>Portails et clôtures</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <!-- FENETRES -->
            <div class="tab-pane animated bounceIn" id="fenetres">
              <h4 class="info-text">QUELLES FENÊTRES RECHERCHEZ-VOUS ? </h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Fenêtres PVC')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Fenêtres PVC">
                      <div class="icon">
                        <img src="assets/img/icone/icone-fenetre.png" alt="" width="60">
                      </div>
                      <h6>Fenêtres PVC</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Fenêtres Bois')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Fenêtres Bois">
                      <div class="icon">
                        <img src="assets/img/icone/icone-fenetre.png" alt="" width="60">
                      </div>
                      <h6>Fenêtres Bois</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Fenêtres aluminium')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Fenêtres aluminium">
                      <div class="icon">
                        <img src="assets/img/icone/icone-fenetre.png" alt="" width="60">
                      </div>
                      <h6>Fenêtres aluminium</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <!-- BAIES -->
            <div class="tab-pane animated bounceIn" id="baies">
              <h4 class="info-text">QUELLES BAIES COULISSANTES RECHERCHEZ-VOUS ? </h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Baies PVC')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Baies PVC">
                      <div class="icon">
                        <img src="assets/img/icone/icone-baie.png" alt="" width="60">
                      </div>
                      <h6>Baies PVC</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Baies Bois')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Baies Bois">
                      <div class="icon">
                        <img src="assets/img/icone/icone-baie.png" alt="" width="60">
                      </div>
                      <h6>Baies Bois</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Baies aluminium')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Baies aluminium">
                      <div class="icon">
                        <img src="assets/img/icone/icone-baie.png" alt="" width="60">
                      </div>
                      <h6>Baies aluminium</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <!-- PORTES -->
            <div class="tab-pane animated bounceIn" id="volets">
              <h4 class="info-text">QUELLES PORTES RECHERCHEZ-VOUS ? </h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Volets PVC')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip"
                      title="This is good if you travel alone.">
                      <input type="radio" formControlName="productModel" value="Volets PVC">
                      <div class="icon">
                        <img src="assets/img/icone/icone-volet.png" alt="" width="60">
                      </div>
                      <h6>Volets PVC</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Volets Bois')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Volets Bois">
                      <div class="icon">
                        <img src="assets/img/icone/icone-volet.png" alt="" width="60">
                      </div>
                      <h6>Volets Bois</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Volets aluminium')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Volets aluminium">
                      <div class="icon">
                        <img src="assets/img/icone/icone-volet.png" alt="" width="60">
                      </div>
                      <h6>Volets aluminium</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane animated bounceIn" id="portes">
              <h4 class="info-text">QUELLE PORTE RECHERCHEZ-VOUS ? </h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Porte d\'entrée PVC')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Porte d'entrée PVC">
                      <div class="icon">
                        <img src="assets/img/icone/icone-porte.png" alt="" width="60">
                      </div>
                      <h6>Porte d'entrée PVC</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Porte d\'entrée Bois')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Porte d'entrée Bois">
                      <div class="icon">
                        <img src="assets/img/icone/icone-porte.png" alt="" width="60">
                      </div>
                      <h6>Porte d'entrée Bois</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Porte d\'entrée aluminium')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Porte d'entrée aluminium">
                      <div class="icon">
                        <img src="assets/img/icone/icone-porte.png" alt="" width="60">
                      </div>
                      <h6>Porte d'entrée aluminium</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane animated bounceIn" id="portails">
              <h4 class="info-text">QUELLES PORTAILS RECHERCHEZ-VOUS ? </h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Portails PVC')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Portails PVC">
                      <div class="icon">
                        <img src="assets/img/icone/icone-portail.png" alt="" width="60">
                      </div>
                      <h6>Portails PVC</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Portails Bois')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Portails Bois">
                      <div class="icon">
                        <img src="assets/img/icone/icone-portail.png" alt="" width="60">
                      </div>
                      <h6>Portails Bois</h6>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#qty" data-toggle="tab" (click)="setProductModel('Portails aluminium')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="productModel" value="Portails aluminium">
                      <div class="icon">
                        <img src="assets/img/icone/icone-portail.png" alt="" width="60">
                      </div>
                      <h6>Portails aluminium</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane animated bounceIn" id="qty">
              <h4 class="info-text">COMBIEN SOUHAITEZ-VOUS EN CHANGER ?</h4>
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <a href="#projectType" data-toggle="tab" (click)="setQty('1')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="qty" value="1">
                      <div class="icon">
                        1
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#projectType" data-toggle="tab" (click)="setQty('2')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="qty" value="2">
                      <div class="icon">
                        2
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#projectType" data-toggle="tab" (click)="setQty('3')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="qty" value="3">
                      <div class="icon">
                        3
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#projectType" data-toggle="tab" (click)="setQty('4')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="qty" value="4">
                      <div class="icon">
                        4
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#projectType" data-toggle="tab" (click)="setQty('5')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="qty" value="5">
                      <div class="icon">
                        5
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <a href="#projectType" data-toggle="tab" (click)="setQty('Plus de 5')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="qty" value="Plus de 5">
                      <div class="icon">
                        Plus de 5
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane animated bounceIn" id="projectType">
              <h4 class="info-text">QUEL EST VOTRE TYPE DE PROJET ?</h4>
              <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                  <a href="#finalized" data-toggle="tab" (click)="setProjectType('Rénovation')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="projectType" value="Rénovation">
                      <div class="icon" style="height: 130px; width: 130px; font-size: 12px;">
                        RENOVATION
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-xs-6 text-center">
                  <a href="#finalized" data-toggle="tab" (click)="setProjectType('Construction neuve')">
                    <div class="choice" data-toggle="wizard-radio" rel="tooltip">
                      <input type="radio" formControlName="projectType" value="Construction neuve">
                      <div class="icon" style="height: 130px; width: 130px; font-size: 12px;">
                        CONSTRUCTION NEUVE
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="tab-pane animated bounceIn" id="finalized">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="info-text">FINALISER VOTRE DEMANDE</h4>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="service-icon icon-user" style="font-size: 20px; line-height: 30px;"></i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Nom Prénom*</label>
                      <input formControlName="name" type="text" class="form-control">
                    </div>
                  </div>

                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="service-icon icon-envelope" style="font-size: 20px; line-height: 30px;"></i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Email *</label>
                      <input formControlName="email" type="email" class="form-control">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="service-icon icon-screen-smartphone" style="font-size: 20px; line-height: 30px;"></i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Téléphone *</label>
                      <input formControlName="phone" type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6  col-xs-12">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="service-icon icon-map" style="font-size: 20px; line-height: 30px;"></i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Adresse *</label>
                      <input formControlName="address" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="service-icon icon-map" style="font-size: 20px; line-height: 30px;"></i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Code Postal - Ville *</label>
                      <input formControlName="cpVille" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="service-icon icon-speech" style="font-size: 20px; line-height: 30px;"></i>
                    </span>
                    <div class="form-group label-floating">
                      <label class="control-label">Description du projet</label>
                      <textarea class="form-control" formControlName="description" placeholder="" rows="6"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="input-group" style="margin: 30px auto 0;">
                    <button type="submit" class="btn btn-default"
                      style="background: #3164B3; color: white; border: none; font-size: 11px; padding: 10px 20px;"
                      (click)="sendEmail()"><i class="fas fa-paper-plane margin-r-5"></i> Envoyer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div> <!-- wizard container -->
  </div> <!-- row -->
</div> <!--  big container -->

<div class="content-alert">
  <div class="alert alert-success animated bounceIn" role="alert" *ngIf="showSuccess">
    <strong class="margin-r-10">Envoyé !</strong> Votre demande a été envoyé avec succès.
    <i class="fas fa-times margin-l-10" (click)="showSuccess = false"></i>
  </div>
  
  <div class="alert alert-danger animated tada" role="alert" *ngIf="showError">
    <strong class="margin-r-10">Erreur !</strong> Veuillez compléter les champs manquants.
    <i class="fas fa-times margin-l-10" (click)="showError = false"></i>
  </div>
</div>

<div class="loading" *ngIf="loading">
  <div class="animated pulse infinite text-center">
    <img src="assets/img/logo2.png" alt="" width="140">
    <p class="text-white mt-2">Veuillez patienter...</p>
  </div>
</div>