.container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  background: #000000de;

  .row-container {
    width: 50%;

    .wizard-container {
      margin: 0 auto;

      .icon-close {
        font-size: 25px;
        color: #515769;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .wizard-navigation {
        position: relative;

        ul {
          display: flex;
          justify-content: space-around;
          padding: 0;

          li {
            list-style-type: none;
            width: 100%;
            text-align: center;
            cursor: pointer;
            margin: 0 5px;

            a {
              display: flex;
              align-items: center;
              width: 100%;
              font-size: 10px;
              text-transform: uppercase;
              justify-content: center;
              padding: 15px 0;
              border-radius: 30px;
              background-color: #efefef;
            }

            a.active {
              width: 100%;
              text-align: center;
              padding: 12px 0;
              border-radius: 30px;
              font-size: 10px;
              text-transform: uppercase;
              -webkit-font-smoothing: subpixel-antialiased;
              background-color: #31d038;
              top: 0px;
              left: 18px;
              color: #FFFFFF;
              cursor: pointer;
              font-weight: 500;
              box-shadow: 0 16px 26px -10px rgb(49 208 56), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
            }
          }
        }
      }
    }
  }
}

.step-mobile {
  display: none;
  justify-content: space-around;
  flex: auto;
  padding: 0;
  margin: 5px 0 15px;

  span {
    cursor: pointer;
    margin: 0 5px;
    width: 100%;
    min-height: 13px;
    background: #efefef;
    border-radius: 10px;
  }

  span.active-step {
    background-color: #31d038;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;

    i {
      font-size: 12px;
      border-radius: 0 0 10px 10px;
      color: white;
    }
  }
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

@media screen and (max-width: 1100px) {
  .row-container {
    width: 100% !important;
  }
}

@media screen and (max-height: 450px) {
  .wizard-navigation {
    display: none;
  }

  .step-mobile {
    display: flex !important;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 5px;
  }

  .row-container {
    width: 100% !important;

    .wizard-container {
      width: 100%;

      .wizard-navigation {
        display: none;
      }

      .step-mobile {
        display: flex !important;
      }
    }
  }

  .wizard-card {
    .wizard-header {
      padding: 0 !important;

      h5 {
        display: none;
      }
    }

    .wizard-title {
      font-size: 25px;
      padding-top: 0;
    }

    .info-text {
      margin-bottom: 5px !important;
      font-size: 15px;
    }

    .tab-content {
      padding: 0 !important;
    }

    .choice {
      margin-top: 0 !important;
    }
  }

  .icon-close {
    font-size: 25px;
    color: #2063b9;
    top: 7px;
    right: 5px;
  }

  textarea.form-control {
    height: 50px !important;
  }
}

@media screen and (max-width: 500px) {
  .wizard-card {
    padding: 10px !important;
    min-height: 100%;

    .choice {
      .icon {
        height: 75px !important;
        width: 75px !important;
        border: 3px solid #2063b9 !important;
        font-size: 14px !important;
        line-height: 12px;

        img {
          width: 35px;
          height: 35px;
        }
      }

      .project-type {
        height: 120px !important;
        width: 120px !important;
        border: 3px solid #2063b9 !important;
        font-size: 13px !important;
        line-height: 12px;
      }
    }
  }
}
