.btn {
  position: fixed;
  right: -55px;
  top: 50%;
  padding: 20px;
  transform: translateX(-50%);
  background-color: #3164B3;
  border: none;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 19%) 0px 1px 7px 0px;
}

@media screen and (max-width: 814px) {
	.btn {
		display: none;
	}
}
