<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="menu-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>

        <!-- Logo -->
        <div class="logo">
          <a class="logo-wrap" href="">
            <img class="logo-img logo-img-main" src="assets/img/logo2.png" alt="Lumia ouvertures">
            <img class="logo-img logo-img-active" src="assets/img/logo2.png" alt="Lumia ouvertures">
          </a>
        </div>
        <!-- End Logo -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="">Home</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/fenetres']" routerLinkActive="active">Fenêtre et portes-fenêtre</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/baies']" routerLinkActive="active">Baies coulissantes</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/portes']" routerLinkActive="active">Porte d'entrée</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/volets']" routerLinkActive="active">Volets</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/portails-clotures']" routerLinkActive="active">Portails et clôtures</a></li>
          </ul>
        </div>
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
  <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->
