<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar desktop" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="menu-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="toggle-icon"></span>
        </button>

        <!-- Logo -->
        <div class="logo">
          <a class="logo-wrap" href="">
            <img class="logo-img logo-img-main" src="assets/img/logo2.png" alt="Lumia ouvertures">
            <img class="logo-img logo-img-active" src="assets/img/logo2.png" alt="Lumia ouvertures">
          </a>
        </div>
        <!-- End Logo -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-collapse">
        <div class="menu-container">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item"><a class="nav-item-child nav-item-hover active" href=""><i class="service-icon icon-home"></i></a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/fenetres']"
                routerLinkActive="active">Fenêtres et portes-fenêtres</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/baies']"
                routerLinkActive="active">Baies coulissantes</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/portes']"
                routerLinkActive="active">Portes d'entrée</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/volets']"
                routerLinkActive="active">Volets</a></li>
            <li class="nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/portails-clotures']"
                routerLinkActive="active">Portails et clôtures</a></li>
          </ul>
        </div>
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
  <!-- Navbar -->

  <nav class="mobile">
    <div class="header-mob">
      <img src="assets/img/logo2.png" alt="" width="80">
      <button (click)="showDevis = true" class="btn btn-primary">Devis gratuit</button>
    </div>
    <div class="scrollmenu">
      <a class="first-item" href="">
        <i class="service-icon icon-home"></i>
      </a>
      <a class="" [routerLink]="['/fenetres']" routerLinkActive="active">Fenêtres et
        portes-fenêtres</a>
      <a class="" [routerLink]="['/baies']" routerLinkActive="active">Baies
        coulissantes</a>
      <a class="" [routerLink]="['/portes']" routerLinkActive="active">Portes d'entrée</a>
      <a class="" [routerLink]="['/volets']" routerLinkActive="active">Volets</a>
      <a class="" [routerLink]="['/portails-clotures']" routerLinkActive="active">Portails et clôtures</a>
    </div>
  </nav>
</header>
<!--========== END HEADER ==========-->
<app-devis [isVisible]="showDevis" (toggle)="showDevis = $event"></app-devis>
