.header,
.navbar {
  border: none !important;
}

.header .logo-img {
  width: 100%;
}

.header .nav-item-child {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .header .nav-item-child {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header .nav-item-child {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .header {
      background: transparent;
      box-shadow: none;

      ul {
        background-color: #fffffff2;
        border-radius: 5px;
        padding: 10px 0;
      }
  }
}