<app-slider></app-slider>

<!--========== PAGE LAYOUT ==========-->
<app-service></app-service>
<app-work></app-work>
<app-promo></app-promo>
<!-- <app-client></app-client> -->
<!-- <app-latest-product></app-latest-product> -->
<section class="contact-block text-center" style="background-color: #3164B3; padding: 70px 0;">
  <div class="row" style="margin: 0; padding: 0;">
    <div class="col-xs-12">
      <h2 class="first-title" style="color: white;">Contactez-nous</h2>
      <p style="color: white; font-size: 20px; margin-bottom: 40px;">Un projet en neuf ou en rénovation ?<br>Venez nous en parler, c'est
        gratuit et sans engagement !
      </p>
      <a (click)="showContact = true" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">
        <i class="service-icon icon-phone"></i>
       Contactez-nous</a>
    </div>
  </div>
</section>

<app-testimonial></app-testimonial>

<!--========== END PAGE LAYOUT ==========-->
<app-contact [isVisible]="showContact" (toggle)="showContact = $event"></app-contact>