.img-responsive {
  border-radius: 5px;
}

.first-title {
  text-transform: uppercase;

  &:after {
    position: absolute;
    top: 18px;
    left: -16px;
    width: 21px;
    height: 5px;
    background: #3164B3;
    content: " ";
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
}

@media screen and (max-width: 500px) {
  .first-title {
    text-transform: uppercase;
    font-size: 24px;

    &:after {
      top: 16px;
      left: -25px;
    }
  }
}

.carousel-indicators li {
  margin: 1px 7px;
}


.content-alert {
  display: flex;
  width: 100%;
  justify-content: center;

  .alert {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    z-index: 999999;
    border: none;
    color: white;

    i.fas {
      cursor: pointer;
    }
  }
}

.alert-success {
  background: #00b700;
}

.alert-danger {
  background: #e20000;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  left: 0;
  top: 0;
  background: #000000f2;
  width: 100%;
  height: 100%;
  z-index: 10020;

  p {
    margin-top: 10px;
    color: #fff;
  }
}

.wizard-card {
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

  .tab-content {
    padding: 10px 15px;
  }

  .wizard-header {
    text-align: center;
    padding: 0 0 20px;

    h5 {
      font-size: 16px;
      margin: 5px 0 0;
      color: #b1b1b1;
    }
  }

  .btn {
    text-transform: uppercase;
  }

  .info-text {
    text-align: center;
    font-weight: 300;
    margin: 0;
  }

  .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    min-height: 130px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      height: 100px;
      width: 100px;
      font-weight: 500;
      border-radius: 50%;
      color: #2063b9;
      margin: 0 auto 10px;
      border: 4px solid #2063b9;
      transition: all 0.2s;

    }

    h6 {
      margin: 0;
    }
  }

  @media screen and (max-height: 450px) {
    .choice {
      margin-top: 10px;
      min-height: initial;

      .icon {
        width: 75px;
        height: 75px;

        img {
          width: 40px !important;
        }
      }
    }
  }

  .choice input[type="radio"],
  .choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
  }

  .description {
    color: #999999;
    font-size: 14px;
  }

  .wizard-title {
    margin: 0;
  }

  .form-control,
  .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    margin-bottom: 0;
    height: 25px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.42857;
  }

  .form-group {
    position: relative;
    padding-bottom: 7px;
    margin: 25px 0 0 0;

    .checkbox label,
    .radio label,
    label {
      font-size: 14px;
      line-height: 1.42857;
      color: #AAAAAA;
      font-weight: 400;
    }

    label.control-label {
      font-size: 11px;
      line-height: 1.07143;
      color: #AAAAAA;
      font-weight: 400;
      margin: 10px 0 0 0;
    }
  }

  .form-group.label-static label.control-label,
  .form-group.label-placeholder label.control-label,
  .form-group.label-floating label.control-label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  .form-group.label-static label.control-label,
  .form-group.label-floating.is-focused label.control-label,
  .form-group.label-floating:not(.is-empty) label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: 1.07143;
  }

  .input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 10px 0px 0;
  }
}

@media screen and (max-width: 500px) {
  .form-group {
    margin: 15px 0 0 0;
  }

  .input-group .input-group-addon {
    padding: 5px 10px 5px 0px;

    .service-icon {
      font-size: 15px !important;
    }
  }
}
